*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
:root{
    --yellow: #ffc61f; 
    --blue: rgb(14, 47, 233);
    --black: #000;
    --red: #e20606;
    --white: #fff;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
}

.container{
    width: 30rem;
    padding:20px;
}
.container h1{
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    border-radius: 5px;
}

.date-container{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}


.date-container input{
    border-radius: 5px;
    padding: 0 1rem;
    transition: all 0.3s ease;
}
.date-container input[type="date"]{
    flex: 3;
    padding: 0.8rem;
}

.date-container input[type="button"]{
    cursor: pointer;
}

.date-container input[type="button"]:hover{
    background-color: var(--yellow);
}


.display{
display: flex;
gap: 2rem;
color: var(--white);
margin-top: 4rem;
}

.display .box{
text-align: center;
background-color: var(--black);
padding: 0.8rem;
border-radius: 5px;
flex: 1;
box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.display .value{
font-size: 1.4rem;
}

.display .label{
color: rgb(167, 163, 163)
}
